---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import FAQ from '../components/FAQ.astro'

import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Sponsors from '../components/Sponsors.astro'
import Team from '../components/Team.astro'
import Speakers from '../components/Speakers.astro'
import Grade from '../components/Grade.astro'
import Temas from '../components/Temas.astro'
import Year2023 from '../components/Year2023.astro'
---

<DefaultLayout title="ServerlessDays SP 2025">
  <Hero />

  <!-- <ContentMedia imgSrc="">
    <h2>Keynote TBD</h2>
    <p class="text-2xl">
    </p>
    <p class="text-2xl">
    </p>
  </ContentMedia>
  -->
  <ContentMedia imgSrc="/sdsp-2023.jpg">
    <h2>Maior evento de serverless do Brasil!</h2>
    <p class="text-2xl">
      Junte-se a 200 pessoas nesse grande evento de nível mundial que acontece em São Paulo, no dia 08 de novembro de 2025. Um evento com espírito de comunidade, com conteúdos selecionados de grandes nomes de serverless e grandes empresas que aplicam essa abordagem em casos reais.
    </p>
  </ContentMedia>
  <section class="mt-32 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">AWS Serverless Heroes no evento!</h2>
    </div>
  </section>
  <ContentMedia imgSrc="/foto-hazel.jpeg" reverseImg={true}>
    <h2>Hazel Sáenz (Guatemala)</h2>
    <p class="text-2xl">Ela atua na criação e no design de software há mais de duas décadas e, nos últimos anos, com foco para aplicações baseadas em nuvem. Seu foco principal é modernizar aplicações legadas para ambientes em nuvem, utilizando a AWS como provedora, com ênfase no design de arquiteturas de alta carga usando serverless.</p>
    <p class="text-2xl">Hazel gosta de compartilhar seu conhecimento com a comunidade por meio de palestras técnicas em eventos locais e internacionais, participando de AWS Summits, AWS Community Days e meetups, além de escrever artigos técnicos em inglês e espanhol.</p>
  </ContentMedia>
  <ContentMedia imgSrc="/evandro-hero.jpg">
    <h2>Evandro Pires (Brasil)</h2>
    <p class="text-2xl">
      Evandro Pires é multiempreendedor em diferentes segmentos. Atuou como CTO de uma das maiores empresas de tecnologia do Brasil, onde liderou áreas como Cloud Native, Dados, IA, SRE e DevOps, impactando mais de 1 milhão de usuários todos os meses. Reconhecido como o primeiro AWS Serverless Hero da América Latina, é também embaixador da Serverless Guru na América Latina. É criador do podcast Sem Servidor e organizador dos eventos Sem Servidor Conf e ServerlessDays São Paulo, onde é o líder da organização.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/foto-luisa.jpg" reverseImg={true}>
    <h2>Apresentação por Luisa Saro</h2>
    <p class="text-2xl">
      Luisa Saro é atriz formada pela Escola de Atores Wolf Maya, com experiência em séries exibidas pela TV Cultura, HBO e Disney+. Apaixonada por games, atua também como apresentadora no cenário de eSports, tendo comandado transmissões de jogos como Honor of Kings, CS:GO e, desde 2020, é rosto oficial da Liga NFA, o maior campeonato independente de Free Fire do mundo.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/cubo-itau.jpeg">
    <h2>Local</h2>
    <p class="text-2xl">
      O local escolhido para esse grande evento é o <b>Cubo Itaú</b>, localizado na Alameda Vicente Pinzon, 54, é um
      dos principais hubs de inovação e tecnologia de São Paulo. O espaço é ideal para a realização de eventos,
      oferecendo infraestrutura moderna e um ambiente colaborativo.
    </p>
    <p class="refeicoes text-2xl"><b>Almoço</b> no local <b>incluso</b>!</p>
  </ContentMedia>
  <!-- <Speakers /> -->
  <!-- <Grade /> -->
  <Sponsors />
  <!--
  <Temas />
  <Sponsors />
  <section class="mt-32 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Números</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="1" title="Dia" sub="de evento" />
        <Counter count="250" title="Pessoas" sub="esperadas no evento" />
        <Counter count="12" title="Palestrantes" sub="sendo 2 internacionais" />
        <Counter count="6" title="Horas" sub="de conteúdo" />
      </div>
    </div>
  </section>
  -->
  <Year2023 />
  <Team />
  <FAQ />
</DefaultLayout>

<style lang="scss">
  .refeicoes {
    color: #8a3bbf;
  }
</style>
