---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import FAQ from '../components/FAQ.astro'

import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Sponsors from '../components/Sponsors.astro'
import Team from '../components/Team.astro'
import Speakers from '../components/Speakers.astro'
import Grade from '../components/Grade.astro'
import Temas from '../components/Temas.astro'
import Year2023 from '../components/Year2023.astro'
---

<DefaultLayout title="ServerlessDays SP 2024">
  <Hero />

  <!-- <ContentMedia imgSrc="">
    <h2>Keynote TBD</h2>
    <p class="text-2xl">
    </p>
    <p class="text-2xl">
    </p>
  </ContentMedia>
  -->
  <ContentMedia imgSrc="/cubo-itau.jpeg" reverseImg={true}>
    <h2>Local</h2>
    <p class="text-2xl">
      O local escolhido para esse grande evento é o <b>Cubo Itaú</b>, localizado na Alameda Vicente Pinzon, 54, é um
      dos principais hubs de inovação e tecnologia de São Paulo. O espaço é ideal para a realização de eventos,
      oferecendo infraestrutura moderna e um ambiente colaborativo.
    </p>
    <p class="refeicoes text-2xl"><b>Almoço</b> no local <b>incluso</b>!</p>
  </ContentMedia>
  <ContentMedia imgSrc="/evandro-hero.jpg">
    <h2>AWS Serverless Hero no evento</h2>
    <p class="text-2xl">
      Evandro Pires é o primeiro Serverless Hero reconhecido pela AWS na América Latina. Ele é o líder da organização do
      Serverless Days São Paulo e estará no evento para conduzir todo o cerimonial sendo o facilitador dos conteúdos e
      de networking.
    </p>
  </ContentMedia>
  <Grade />
  <Speakers />
  <Sponsors />
  <!--
  <Temas />
  <Sponsors />
  <section class="mt-32 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Números</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="1" title="Dia" sub="de evento" />
        <Counter count="250" title="Pessoas" sub="esperadas no evento" />
        <Counter count="12" title="Palestrantes" sub="sendo 2 internacionais" />
        <Counter count="6" title="Horas" sub="de conteúdo" />
      </div>
    </div>
  </section>
  -->
  <Year2023 />
  <Team />
  <FAQ />
</DefaultLayout>

<style lang="scss">
  .refeicoes {
    color: #8a3bbf;
  }
</style>
