---
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<section class="my-32">
  <div class="container">
    <div class="space-content">
      <h2 class="mb16 text-6xl">Perguntas Frequentes (FAQ)</h2>
      <Accordion>
        <AccordionItem title="Onde será o evento?">
          <p>
            <b>Cubo Itaú</b>
          </p>
          <p>Alameda Vicente Pinzon, 54 - Vila Olímpia, São Paulo - SP, 04547-130</p>
        </AccordionItem>
        <AccordionItem title="Quando será o evento?">
          <p>O evento acontecerá no dia 08 de Novembro de 2025, um sábado, para que todos possam participar. :)</p>
        </AccordionItem>
        <AccordionItem title="Quero palestrar, até quando vai o CFP?">
          <p>
            O CFP estará ativo até dia 30 de Setembro de 2025. Faça o envio de sua proposta de palestra <a
              href="https://www.papercall.io/serverlessdays-saopaulo-2025">clicando aqui</a
            >.
          </p>
        </AccordionItem>
        <AccordionItem title="Quero ajudar na organização, como faço?">
          <p>
            Entre em contato conosco através do e-mail <a href="mailto:saopaulo@serverlessdays.io"
              >saopaulo@serverlessdays.io</a
            > e entenderemos como pode fazer parte deste evento.
          </p>
        </AccordionItem>
        <AccordionItem title="Como patrocinar o maior evento de Serverless do Brasil?">
          <p>
            Entre em contato conosco através do e-mail <a href="mailto:saopaulo@serverlessdays.io"
              >saopaulo@serverlessdays.io</a
            > que enviaremos para você todas as opções.
          </p>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>
