---
import Feature from '../components/Feature.astro'
---

<section class="my-32">
  <div class="container">
    <h2 class="mb-16 text-6xl">Temas das palestras</h2>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4">
      <Feature icon="mdi:tools" title="DevTools">
        Ferramental para desenvolvimento para melhorar a experiência do desenvolvedor serverless.
      </Feature>
      <Feature icon="mdi:security" title="Segurança">
        Práticas para aumentar a segurança no desenvolvimento de aplicações serverless.
      </Feature>
      <Feature icon="mdi:account-view" title="Observabilidade">
        Técnicas e ferramental para maximizar a capacidade de observabilidade com serverless.
      </Feature>
      <Feature icon="mdi:database" title="BigData">
        Desenvolvimento de solução de BigData totalmente com serverless.
      </Feature>
      <Feature icon="mdi:gear" title="Arquitetura">
        Práticas, serviços e técnicas arquiteturais para aplicar com serverless.
      </Feature>
      <Feature icon="mdi:company" title="Cases reais">
        Cenários reais de empresas que estão utilizando serverless no dia a dia.
      </Feature>
      <Feature icon="mdi:strategy" title="Gestão">
        Debates e insights para estratégia com serverless com foco para redução de custos.
      </Feature>
    </div>
  </div>
</section>
