---
---

<section class="mb-32 mt-32">
  <div class="container flex flex-col items-center md:flex-row">
    <div class="text-section md:w-1/2 md:pr-8">
      <h2 class="mb-16 text-6xl">Eventos Anteriores</h2>
      <p class="text-2xl">O primeiro ServerlessDays da América Latina aconteceu em São Paulo, em 2023.</p>
      <p class="mt-4 text-2xl">
        A marca de eventos exclusivos de serverless que conquistou o mundo com seus eventos ao redor do mundo, desde
        2017, teve uma edição na maior cidade do Brasil para ajudar na democratização do conhecimento e do uso de
        serverless no país.
      </p>
      <p class="mt-4 text-2xl">Foram cerca de 180 pessoas reunidas no sábado do dia 21 de outubro de 2023.</p>
    </div>
    <div class="image-section mt-8 md:mt-0 md:w-1/2">
      <img
        src="/foto-serverlessDays2023.jpeg"
        alt="Foto do evento ServerlessDays São Paulo 2023"
        class="h-auto w-full"
      />
    </div>
  </div>

  <style lang="scss">
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;
    }
    .text-section {
      flex: 1;
    }
    .image-section {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image-section img {
      border-radius: 8px;
    }
    h2 {
      text-align: left;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 1rem;
    }
  </style>
</section>
